*{
    font-family: Cambria;
    text-align: center;
}
#banner, footer{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}
#menu{
    background-color: rgb(173, 20, 87);
    text-align: left;
}
#lewy-stacja{
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
    float: left;
}
#prawy{
    background-color: rgb(173, 20, 87);
    width: 40%;
    height: 322px;
    float: right;
}
table,td,tr{
    border-color: olivedrab;
}
.samochod.jpg{
    margin: 40px;
    padding: 10px;
    
}
table{
    width: 90%;
}