*{
    font-family: Cambria;
    text-align: center;
}
#banner, footer{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5px;
    font-size: 150%;
}
#menu{
    background-color: rgb(173, 20, 46);
    text-align: left;
}
#lewy{
    background-color: snow;
    color: olivedrab;
    width: 60%;
    height: 322px;
    text-align: left;
}
#prawy{
    
}